### Ex. 5 Complete the script so that it prints out the second item of the list.

In [2]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [4]:
print(letters[1])

b

### Ex. 6 Please complete the script so that it prints out a list slice containing items d , e , and f.

In [6]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [10]:
print(letters[3:6])

['d', 'e', 'f']

### Ex. 7  Please complete the script so that it prints out the first three items of list letters.

In [13]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[:3])

['a', 'b', 'c']

### Ex. 8 Complete the script so that it prints out the letter i  using negative indexing.

In [17]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-2])

i

### Ex. 9 Complete the script so that it prints out a list slice containing the last three items of the list letters.

In [20]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-3:])

['h', 'i', 'j']

### Ex. 10 Complete the script so that it prints out a list slice containing letters a, c, e, g, and i.

In [26]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[0::2])  #The complete syntax of list slicing is [start:end:step]

['a', 'c', 'e', 'g', 'i']

### Ex. 11. Ranges

In [42]:
#help(range)
#range(start, stop[, step])
my_range = range(1, 21)
print(list(my_range))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Ex. 12. Ranges

In [48]:
my_range = range(1, 21)
print([10 * x for x in my_range]) # list compreention

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

### Ex. 13. Ranges

In [53]:
my_range = range(1, 21)
# print([str(x) for x in my_range]) #or even better:
print(list(map(str, my_range))) # map applies a funtion to an iterable list

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

### Ex. 14. Complete the script so that it removes duplicate items from the list a.

In [56]:
a = ["1", 1, "1", 2]

In [64]:
#help(set)
print(list(set(a)))

[1, 2, '1']

### Ex. 15. Create a dictionary that contains the keys a  and b  and their respective values 1  and 2

In [68]:
my_dict = {"a": 1, "b": 2} #or
my_dict = dict(a=1, b=2)
print(my_dict)

{'a': 1, 'b': 2}

### Ex. 16. Accessing Dictionary Items

In [71]:
d = {"a": 1, "b": 2}
print(d["b"])

2

### Ex. 17. Calculate the sum of the values of keys a  and b

In [74]:
d = {"a": 1, "b": 2, "c": 3}
print(d["a"] + d["b"])

3

### Ex. 18. Dictionary

In [82]:
d = {"Name": "John", "Surname": "Smith"}
print(d["Surname"])

Smith

### Ex. 19. Dictionary

In [86]:
d = {"a": 1, "b": 2}
d["c"] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}

### Ex. 20. Dictionary

In [96]:
d = {"a": 1, "b": 2, "c": 3}
v = d.values()
print(sum(v))

6

### Ex. 21. Dictionary Compreencion

In [101]:
d = {"a": 1, "b": 2, "c": 3}

print({k:v for (k,v) in d.items() if v <= 1})

{'a': 1}

### Ex. 22.

In [108]:
from pprint import pprint
d = {"a": list(range(1, 11)), "b": list(range(11, 21)), "c": list(range(21, 31))}
pprint(d)

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'b': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'c': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

### Ex. 23. Multilevel Indexing. 
\# Access the third value of key b  from the dictionary.

In [113]:
d = {"a": list(range(1, 11)), "b": list(range(11, 21)), "c": list(range(21, 31))}
print(d["b"][2])

13

### Ex. 24.

In [119]:
d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))
for k, v in d.items():
    print(k, " has value ", v)

a  has value  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b  has value  [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
c  has value  [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

### Ex. 25.

In [128]:
import string
print([x for x in string.ascii_lowercase])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

### Ex. 26.

In [129]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Ex. 27.
Create a function that calculates acceleration given initial velocity v1, final velocity v2, start time t1, and end time t2.

In [130]:
def accel(v1, v2, t1, t2):
    return (v2 - v1)/(t2 - t1)

accel(0, 10, 0, 20)

0.5

### Ex. 28.

In [132]:
s = "a"

'A'

### Ex. 29.

In [134]:
from math import pi

def volume(h, r=10):
    return (4 * pi * r**3 - pi * h**2 * (3 * r - h))/3

print(volume(2))

4071.5040790523713

### Ex. 30.

In [158]:
len(("teste 123").split())

2

### Ex. 34.
- [x] teste

In [148]:
    def foo(): 
        global c
        c = 1 
        return c 
    foo() 
    print(c)

1

### 35. Split a sentence

In [164]:
my_phrase = input("type a phrase: ")

def w_counter(my_phrase):
   return len(my_phrase.split())

w_counter(my_phrase)

type a phrase: qwe qwe

2

### 36. Read a txt file and count words

In [172]:
def w_counter():    
    with open("words1.txt", "r") as file:
        return len(file.read().split())

w_counter()

10

### 37.

In [199]:
l =[]
def w_counter():    
    with open("words2.txt", "r") as file:
        my_file = str(file.read()).replace(",", " ")
        print(my_file)
        return len(my_file.split())

w_counter()

A tree is a woody perennial plant typically with branches.

10

In [202]:
# solution 2 with "re" (regular expression matching operations)

import re
     
def count_words_re(filepath):
    with open(filepath, 'r') as file:
        text = file.read()
    string_list = re.split(",| ", text)
    return len(string_list)
     
print(count_words_re("words2.txt"))

10

### 38.

In [204]:
import math

math.sqrt(9)

3.0

### 39.

In [207]:
import math
print(math.cos(1))

0.5403023058681398

In [208]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).